# 1. Код Python

***В архиве нет доп. файлов, тк мне было удобнее распаковать архив во временную память***

In [567]:
import numpy as np
import pandas as pd
from zipfile import ZipFile
import urllib.request
from io import BytesIO

In [568]:
url = urllib.request.urlopen("http://archive.ics.uci.edu/ml/machine-learning-databases/00368/Facebook_metrics.zip")

with ZipFile(BytesIO(url.read())) as archive:
    print(archive.namelist())

In [569]:
with ZipFile(BytesIO(url.read())) as archive:
    dataframe = pd.read_csv(archive.open('dataset_Facebook.csv'), sep = ';')

Посчитаем необходимые значения для всех 3-х типов записей по каждому характеризующему столбцу. Для указанных характеристик 
хватит штатных методов pandas
Для 'Type', 'Paid' и 'Category' не имеет смысла считать все, кроме 'mode', т.к. переменная принимает известные значения

Т.к. у встроенного метода mode() есть ряд недостатков, компромиссный вариант - функция, возвращающая наиболее часто
встречающееся значение (значения, если есть несколько с одинаковой частотой) и, для оценки наглядности - его частоту. Допущение: мода засчитывается отсутствующей, если повторяющихся значений не было или частота была меньше sqrt(кол-во наблюдений) - чтобы исключить явные случайные совпадения

In [570]:
dataframe[1:5]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0,10460,19057,1457,1361,1674,11710,6112,1108,5,130,29,164
2,139441,Photo,3,12,3,3,0,2413,4373,177,113,154,2812,1503,132,0,66,14,80
3,139441,Photo,2,12,2,10,1,50128,87991,2211,790,1119,61027,32048,1386,58,1572,147,1777
4,139441,Photo,2,12,2,3,0,7244,13594,671,410,580,6228,3200,396,19,325,49,393

In [571]:
def get_mode(series, by_type):
    v = series.value_counts()
    if by_type == False:
        max_freq = max(v.values)
        m = list(v.loc[v.values == max_freq].index)
        return (max_freq, m) if max_freq>=20 else 'NaN'
    else:
        modes = []
        for typ in v.index.levels[0]:
            max_freq = max(v[typ].values)
            m = list(v[typ].loc[v[typ].values == max_freq].index)
            if max_freq>=5:
                modes.append({max_freq: m})
            else:
                modes.append('NaN')
        return modes

In [572]:
def get_stats(stats, series, func, by_type):
    shortcuts = {'mean': series.mean(), 'max': series.max(), 'min': series.min(), 'median': series.median(),
                 'mode': func(series, by_type)}
    for stat in shortcuts:
        stats[stat] = shortcuts[stat]
    return stats

In [573]:
outliers1 = ['Type', 'Paid', 'Category']
metrics = list(dataframe.columns.values)
index0 = ['mean', 'max', 'min', 'median', 'mode']
stats = pd.DataFrame(index = index0, columns = metrics)
for metric in metrics:
    if metric in outliers:
        stats.loc['mode'][metric] = get_mode(dataframe[metric], by_type = False)
    else:
        stats.loc[ :, metric] = get_stats( stats.loc[ :, metric], dataframe[metric], get_mode, False)

In [574]:
stats

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
mean,123194,NaN,NaN,7.038,4.15,7.84,NaN,13903.4,29585.9,920.344,798.772,1415.13,16766.4,6585.49,609.986,7.482,177.946,27.2661,212.12
max,139441,NaN,NaN,12,7,23,NaN,180480,1110282,11452,11328,19779,1107833,51456,4376,372,5172,790,6334
min,81370,NaN,NaN,1,1,1,NaN,238,570,9,9,9,567,236,9,0,0,0,0
median,129600,NaN,NaN,7,4,9,NaN,5281,9051,625.5,551.5,851,6255.5,3417,412,3,101,19,123.5
mode,NaN,"(426, [Photo])","(215, [1])","(60, [10])","(82, [7])","(105, [3])","(360, [0.0])",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(106, [0])",NaN,"(20, [14.0, 13.0])",NaN

Те же статистики отдельно для каждого типа переменной "Type". В данном случае моду для 'Category' также можно не считать:

In [575]:
seq = [(stat, type) for stat in index1 for type in list(dataframe['Type'].unique())]
multiindex = pd.MultiIndex.from_tuples(seq, names = ['Stat', 'Type'])
specs_stats = pd.DataFrame(index = multiindex, columns = metrics)
specs_dataframe = dataframe.groupby('Type')

In [576]:
for metric in metrics:
    if metric == 'Type':
        None
    elif metric == 'Category' or 'Paid':
        specs_stats.loc[:, metric]['mode'] = get_mode(specs_dataframe[metric], by_type = True)
    else:
        specs_stats.loc[ :, metric] = get_stats( specs_stats.loc[ :, metric], specs_dataframe[metric], get_mode, True)

In [577]:
specs_stats

              Page total likes Type    Category  Post Month Post Weekday  \
Stat   Type
mean   Photo               NaN  NaN         NaN         NaN          NaN
       Status              NaN  NaN         NaN         NaN          NaN
       Link                NaN  NaN         NaN         NaN          NaN
       Video               NaN  NaN         NaN         NaN          NaN
max    Photo               NaN  NaN         NaN         NaN          NaN
       Status              NaN  NaN         NaN         NaN          NaN
       Link                NaN  NaN         NaN         NaN          NaN
       Video               NaN  NaN         NaN         NaN          NaN
min    Photo               NaN  NaN         NaN         NaN          NaN
       Status              NaN  NaN         NaN         NaN          NaN
       Link                NaN  NaN         NaN         NaN          NaN
       Video               NaN  NaN         NaN         NaN          NaN
median Photo               NaN  NaN         NaN         NaN          NaN
       Status              NaN  NaN         NaN         NaN          NaN
       Link                NaN  NaN         NaN         NaN          NaN
       Video               NaN  NaN         NaN         NaN          NaN
mode   Photo               NaN  NaN   {20: [1]}   {6: [12]}     {5: [6]}
       Status   {17: [124940]}  NaN  {185: [1]}  {49: [10]}    {71: [7]}
       Link                NaN  NaN   {38: [2]}  {12: [12]}  {9: [5, 7]}
       Video               NaN  NaN    {7: [1]}         NaN          NaN

                Post Hour          Paid Lifetime Post Total Reach  \
Stat   Type
mean   Photo          NaN           NaN                       NaN
       Status         NaN           NaN                       NaN
       Link           NaN           NaN                       NaN
       Video          NaN           NaN                       NaN
max    Photo          NaN           NaN                       NaN
       Status         NaN           NaN                       NaN
       Link           NaN           NaN                       NaN
       Video          NaN           NaN                       NaN
min    Photo          NaN           NaN                       NaN
       Status         NaN           NaN                       NaN
       Link           NaN           NaN                       NaN
       Video          NaN           NaN                       NaN
median Photo          NaN           NaN                       NaN
       Status         NaN           NaN                       NaN
       Link           NaN           NaN                       NaN
       Video          NaN           NaN                       NaN
mode   Photo     {6: [3]}   {16: [0.0]}                       NaN
       Status   {89: [3]}  {306: [0.0]}                       NaN
       Link    {10: [10]}   {35: [0.0]}                       NaN
       Video          NaN           NaN                       NaN

              Lifetime Post Total Impressions Lifetime Engaged Users  \
Stat   Type
mean   Photo                              NaN                    NaN
       Status                             NaN                    NaN
       Link                               NaN                    NaN
       Video                              NaN                    NaN
max    Photo                              NaN                    NaN
       Status                             NaN                    NaN
       Link                               NaN                    NaN
       Video                              NaN                    NaN
min    Photo                              NaN                    NaN
       Status                             NaN                    NaN
       Link                               NaN                    NaN
       Video                              NaN                    NaN
median Photo                              NaN                    NaN
       Status                             NaN                    NaN
       Link                               NaN                    NaN
       Video                              NaN                    NaN
mode   Photo                              NaN                    NaN
       Status                             NaN                    NaN
       Link                               NaN                    NaN
       Video                              NaN                    NaN

              Lifetime Post Consumers Lifetime Post Consumptions  \
Stat   Type
mean   Photo                      NaN                        NaN
       Status                     NaN                        NaN
       Link                       NaN                        NaN
       Video                      NaN                        NaN
max    Photo                      NaN                        NaN
       Status                     NaN                        NaN
       Link                       NaN                        NaN
       Video                      NaN                        NaN
min    Photo                      NaN                        NaN
       Status                     NaN                        NaN
       Link                       NaN                        NaN
       Video                      NaN                        NaN
median Photo                      NaN                        NaN
       Status                     NaN                        NaN
       Link                       NaN                        NaN
       Video                      NaN                        NaN
mode   Photo                      NaN                        NaN
       Status                     NaN                        NaN
       Link                       NaN                        NaN
       Video                      NaN                        NaN

              Lifetime Post Impressions by people who have liked your Page  \
Stat   Type
mean   Photo                                                 NaN
       Status                                                NaN
       Link                                                  NaN
       Video                                                 NaN
max    Photo                                                 NaN
       Status                                                NaN
       Link                                                  NaN
       Video                                                 NaN
min    Photo                                                 NaN
       Status                                                NaN
       Link                                                  NaN
       Video                                                 NaN
median Photo                                                 NaN
       Status                                                NaN
       Link                                                  NaN
       Video                                                 NaN
mode   Photo                                                 NaN
       Status                                                NaN
       Link                                                  NaN
       Video                                                 NaN

              Lifetime Post reach by people who like your Page  \
Stat   Type
mean   Photo                                               NaN
       Status                                              NaN
       Link                                                NaN
       Video                                               NaN
max    Photo                                               NaN
       Status                                              NaN
       Link                                                NaN
       Video                                               NaN
min    Photo                                               NaN
       Status                                              NaN
       Link                                                NaN
       Video                                               NaN
median Photo                                               NaN
       Status                                              NaN
       Link                                                NaN
       Video                                               NaN
mode   Photo                                               NaN
       Status                                              NaN
       Link                                                NaN
       Video                                               NaN

              Lifetime People who have liked your Page and engaged with your post  \
Stat   Type
mean   Photo                                                 NaN
       Status                                                NaN
       Link                                                  NaN
       Video                                                 NaN
max    Photo                                                 NaN
       Status                                                NaN
       Link                                                  NaN
       Video                                                 NaN
min    Photo                                                 NaN
       Status                                                NaN
       Link                                                  NaN
       Video                                                 NaN
median Photo                                                 NaN
       Status                                                NaN
       Link                                                  NaN
       Video                                                 NaN
mode   Photo                                                 NaN
       Status                                         {5: [403]}
       Link                                                  NaN
       Video                                                 NaN

                   comment                    like         share  \
Stat   Type
mean   Photo           NaN                     NaN           NaN
       Status          NaN                     NaN           NaN
       Link            NaN                     NaN           NaN
       Video           NaN                     NaN           NaN
max    Photo           NaN                     NaN           NaN
       Status          NaN                     NaN           NaN
       Link            NaN                     NaN           NaN
       Video           NaN                     NaN           NaN
min    Photo           NaN                     NaN           NaN
       Status          NaN                     NaN           NaN
       Link            NaN                     NaN           NaN
       Video           NaN                     NaN           NaN
median Photo           NaN                     NaN           NaN
       Status          NaN                     NaN           NaN
       Link            NaN                     NaN           NaN
       Video           NaN                     NaN           NaN
mode   Photo      {7: [0]}                     NaN           NaN
       Status    {94: [0]}  {6: [7.0, 79.0, 98.0]}  {17: [14.0]}
       Link    {6: [2, 4]}                     NaN           NaN
       Video           NaN                     NaN           NaN

              Total Interactions
Stat   Type
mean   Photo                 NaN
       Status                NaN
       Link                  NaN
       Video                 NaN
max    Photo                 NaN
       Status                NaN
       Link                  NaN
       Video                 NaN
min    Photo                 NaN
       Status                NaN
       Link                  NaN
       Video                 NaN
median Photo                 NaN
       Status                NaN
       Link                  NaN
       Video                 NaN
mode   Photo                 NaN
       Status       {6: [0, 39]}
       Link                  NaN
       Video                 NaN

In [578]:
dataframe

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0,2752,5091,178,109,159,3078,1640,119,4,79,17,100
1,139441,Status,2,12,3,10,0,10460,19057,1457,1361,1674,11710,6112,1108,5,130,29,164
2,139441,Photo,3,12,3,3,0,2413,4373,177,113,154,2812,1503,132,0,66,14,80
3,139441,Photo,2,12,2,10,1,50128,87991,2211,790,1119,61027,32048,1386,58,1572,147,1777
4,139441,Photo,2,12,2,3,0,7244,13594,671,410,580,6228,3200,396,19,325,49,393
5,139441,Status,2,12,1,9,0,10472,20849,1191,1073,1389,16034,7852,1016,1,152,33,186
6,139441,Photo,3,12,1,3,1,11692,19479,481,265,364,15432,9328,379,3,249,27,279
7,139441,Photo,3,12,7,9,1,13720,24137,537,232,305,19728,11056,422,0,325,14,339
8,139441,Status,2,12,7,3,0,11844,22538,1530,1407,1692,15220,7912,1250,0,161,31,192
9,139441,Photo,3,12,6,10,0,4694,8668,280,183,250,4309,2324,199,3,113,26,142
10,139441,Status,2,12,5,10,0,21744,42334,4258,4100,4540,37849,18952,3798,0,233,19,252
11,139441,Photo,2,12,5,10,0,3112,5590,208,127,145,3887,2174,165,0,88,18,106
12,139441,Photo,2,12,5,10,0,2847,5133,193,115,133,3779,2072,152,0,90,14,104
13,139441,Photo,2,12,5,3,0,2549,4896,249,134,168,3631,1917,183,5,137,10,152
14,138414,Photo,2,12,4,5,1,22784,39941,887,337,417,34415,19312,684,2,577,20,599
15,138414,Status,2,12,3,10,0,10060,19680,1264,1209,1425,17272,8548,1162,4,86,18,108
16,138414,Photo,3,12,3,3,0,1722,2981,163,123,148,1868,1050,123,2,40,12,54
17,138414,Photo,1,12,2,12,1,53264,111785,1706,1103,1655,92512,39776,1307,15,678,20,713
18,138414,Status,3,12,2,3,0,3930,7509,130,86,112,5009,2410,101,4,54,17,75
19,138414,Photo,3,12,1,11,0,1591,2825,121,88,111,2116,1161,100,0,34,8,42
20,138414,Photo,2,12,1,3,0,2848,5066,200,142,184,3561,1963,157,3,66,12,81
21,138414,Photo,1,12,7,10,0,1384,2467,15,15,20,2196,1172,15,0,0,0,0
22,138414,Link,1,12,7,10,0,3454,6853,118,104,130,6282,3100,106,0,16,2,18
23,138414,Photo,3,12,7,3,0,2723,4888,176,118,143,2964,1621,143,0,72,24,96
24,138414,Status,2,12,6,10,0,8488,15294,1341,1270,1489,9684,5244,995,3,99,19,121
25,138458,Status,2,12,6,3,0,8284,15104,1521,1462,1711,10266,5372,1200,0,88,18,106
26,138458,Status,2,12,5,11,0,19552,34143,2806,2531,3420,17748,9824,1779,10,412,72,494
27,138458,Photo,3,12,5,3,0,2478,4306,212,124,149,2612,1443,166,0,100,17,117
28,138895,Photo,2,12,5,3,0,9560,18264,973,559,885,9217,4748,621,36,523,63,622
29,138895,Video,1,12,4,11,1,36208,61262,1141,1068,1728,30131,14112,559,18,143,13,174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,91437,Link,1,2,3,13,0,9356,14986,448,381,505,13919,8460,392,4,114,13,131
471,91330,Photo,3,2,3,3,0,7732,13264,1066,1002,1336,8753,4880,570,7,160,57,224
472,91223,Photo,1,2,2,13,0,5240,8893,857,837,1020,7420,4232,466,0,46,15,61
473,91116,Photo,3,2,2,4,1,7132,12060,1004,944,1226,8294,4736,576,4,136,42,182
474,91009,Photo,1,2,1,12,0,21928,39641,1512,1479,1837,6338,3672,497,0,73,13,86
475,86909,Photo,3,1,6,16,1,5754,9238,1179,1143,1452,6101,3546,420,0,65,19,84
476,86909,Photo,1,1,6,10,1,37088,10966,2728,2288,3183,66311,34352,2021,7,579,47,633
477,86909,Link,1,1,6,4,0,39600,7927,572,496,581,12522,8176,167,1,101,5,107
478,86909,Photo,3,1,5,13,0,5536,8745,1141,1099,1461,5225,3098,483,1,74,31,106
479,86909,Photo,3,1,5,4,0,6056,10325,1117,1078,1427,6823,3788,487,7,84,36,127
480,86909,Photo,2,1,4,11,0,11484,20696,1762,1635,2741,8774,5124,722,56,360,99,515
481,86491,Link,1,1,4,4,1,4938,7910,66,63,70,6625,3804,59,0,5,2,7
482,86491,Photo,3,1,3,10,0,66784,9456,2969,2833,3645,17809,11328,801,3,187,36,226
483,86491,Photo,2,1,3,3,0,5526,8779,1096,1058,1399,5732,3412,453,2,69,26,97
484,86491,Photo,3,1,2,7,0,5040,8367,1062,1023,1348,5485,3068,437,2,82,24,108
485,86491,Link,1,1,2,2,0,5168,8371,66,59,71,7041,3996,58,0,12,2,14
486,85979,Photo,3,1,1,12,0,5034,8030,1020,993,1243,5340,3094,440,2,56,25,83
487,85979,Photo,3,1,1,2,0,4908,7491,957,937,1153,4642,2842,393,1,44,21,66
488,85979,Photo,3,1,7,10,0,9700,17442,1407,1271,2007,8872,4876,660,21,277,80,378
489,85979,Photo,3,1,7,2,0,4800,7754,975,938,1278,4932,2820,432,1,74,28,103
490,85979,Photo,3,1,6,11,0,5280,8703,951,911,1237,5757,3300,431,1,79,30,110
491,85979,Photo,3,1,6,3,1,6184,10228,956,901,1140,6085,3502,437,1,105,46,152
492,85979,Link,1,1,5,11,0,45920,5808,753,655,763,15766,10720,220,0,128,9,137
493,85093,Photo,3,1,1,2,0,8412,13960,1179,1111,1632,8632,5348,699,17,185,55,257
494,85093,Photo,3,1,7,10,0,5400,9218,810,756,1003,5654,3230,422,10,125,41,176
495,85093,Photo,3,1,7,2,0,4684,7536,733,708,985,4750,2876,392,5,53,26,84
496,81370,Photo,2,1,5,8,0,3480,6229,537,508,687,3961,2104,301,0,53,22,75
497,81370,Photo,1,1,5,2,0,3778,7216,625,572,795,4742,2388,363,4,93,18,115
498,81370,Photo,3,1,4,11,0,4156,7564,626,574,832,4534,2452,370,7,91,38,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91,28,119

Из данного массива можно получить много информации. Самый популярный объект в выборке является публикацией на Фейсбуке. Тк Фейсбук использует сложный алгоритм сортировки постов, время публикации поста можно не учитывать при оценке его популярности. 
Нас интересует популярность поста у всех пользователей, а не только у пользователей, подписанных на страницу. Пост появляется в новостной ленте у новых пользователей если он: 1) набирает много лайков, репостов или комментариев 2) лайкнул/прокомментировал кто-то из друзей 3) это оплаченная реклама (видимо, метрика 'Paid'). Т.е., если, при прочих допускаемо равных, у одного поста в метрике 'Paid' стоит '0', а у второго '1', первый был популярнее.

Таким образом, отправной характеристикой популярности поста можно считать сумму метрик 'like'+'share'+'comment'. Затем, можно
сверить метрику 'Paid'. Получим:

In [579]:
dataframe['Popularity'] = dataframe['like'] + dataframe['share'] + dataframe['comment']

In [580]:
dataframe[['Lifetime Post Total Reach', 'Paid', 'Popularity']].sort_values('Popularity', ascending = False)[0:5]

     Lifetime Post Total Reach  Paid  Popularity
244                     180480     1        6334
379                     105632     1        2177
168                      41984     0        1974
460                      55520     0        1873
349                      81856     0        1806

Как видим, наиболее популярным постом был №244, он же имел самое высокое кол-во просмотров пользователями (по предположению,
уникальными). Первый следующий за ним неоплаченный пост №168 имел в 3,2 раза меньше просмотров и в 4,3 раза меньше показов. Можно найти линейный фактор, очень грубо характеризующий увеличение вероятности поста быть показанным, если он был оплачен, либо для этой же цели прогнать простую регрессию (я посчитала это лишним), чтобы посмотреть не был ли пост №244 явным выбросом и, следовательно, на самом деле более популярным, чем пост №244:

In [581]:
factor = dataframe[dataframe['Paid']==1][['Popularity',
                    'Lifetime Post Total Reach']].mean() / dataframe[dataframe['Paid']==0][['Popularity',
                    'Lifetime Post Total Reach']].mean()
factor

Popularity                   1.473081
Lifetime Post Total Reach    1.627526
dtype: float64

Как видим, средняя популярность оплаченных постов выше в полтора раза, чем у неоплаченных. Следовательно, вероятностью того, что
пост №168 мог быть самым популярным, можно предварительно пренебречь. Спасибо, если вы вдруг дочитали.

# 2. Метрики для Fantasy

*Сразу прошу прощения, если где-то была использована неправильная терминология.

В описании задания не были специально указаны цели, под которые должны подбираться метрики, поэтому структура анализа такова:
1. определить задачи, которые преследует оптимизация
2. подобрать метрики, по которым можно определить, насколько успешно текущая конфигурация решает эти задачи

**Задачи.**
Я предполагаю 4 стандартные задачи (без цифр):
1. Увеличение просмотров страниц раздела по переходам из основных источников: поисковиков и социальных сетей
2. Повышение конверсии пользователей в зарегистрировавшихся после посещения данного раздела портала
2. Повышении конверсии пользователей раздела в активных
3. Поддержание активности пользователя

Насколько я поняла, система призов и капиталов еще не введена, поэтому пока в качестве активного будет рассматриваться пользователь, участвующий
в создании и изменении фэнтези-команд и просматривающий от 15 страниц раздела, в среднем, за 2-3 дня.

**Метрики**
1. Метрики для оценки просмотров
    1. по переходам из поисковой выдачи:
 - поисковые запросы
 - какие страницы ассоциируются с наибольшей/наименьшей глубиной просмотров / процентом отказов (тк влияет на ранжирование)
    2. соц.сети: 
 - из каких соц. сетей происходит переход
 - в каких соц. сетях расшаривается больше всего записей
2. Аккаунты каких соц. сетей используются как вспомогательные при регистрации из раздела / после просмотра страниц раздела
    1. Тематика страниц раздела, просмотренных зарегистрировавшимися сразу после этого пользователями (ВЗП)
    2. Какие страницы ВЗП доскролливают до конца, а с каких переходят 
    3. Среднее количество страниц, просмотренных ВЗП
    4. Ресурсы, с которых приходят ВЗП (почтовые рассылки, рассылки-боты, другие разделы основного портала, соц. сети, мобильные приложения)
    5. Сегментация зарегистрировавшися после просмотра раздела пользователей по географии
    6. Соотношение прямых переходов на страницу раздела (например, пользователь сделал закладку в браузере или получил прямую ссылку от друга) / переходов по поисковому запросу или из постов, размещенных в соц. сетях для ВЗП
3. Те же что и в пункте 2, кроме F, но для пользователей, помеченных впоследствии, как "активные" (ВАП) (тк логично предположить, что в раздел Fantasy заходят пользователи, ужзе зарегистрированные на портале sports.ru)
    1. Страницы выхода для авторизированных пользователей, просматривающих страницы время от времени, но не ставших ВАП
4. Те же, что в пункте 3

# 3. Основные различия между аналитикой веб-сайта и мобильных приложений

Под **аналитикой веб-сайта** подразумевается аналитика данных о действиях пользователя непосредственно на сайте портала, будь то версия сайта, адаптированная под мобильную платформу или полная версия.
**Аналитика мобильных приложений** - аналитика данных, полученных, собственно, из мобильных приложений (прошу прощения), из которых возможен доступ к контенту портала.

1. Мобильные приложения используются, по большей части, существующими пользователями (исключение для соц. сетей), в то время как доля привлеченных новых пользователей будет выше для веб-сайта. Это влияет на выбор метрик для оптимизации: например, для сайта будет иметь значение кол-во просмотренных страниц, а для моб. приложения - длина сессии и кол-во совершенных действий.
2. При аналитике мобильного приложения большее внимание следует обращать на использование элементов интерфейса пользователями и удобство.
3. Из ряда моб. приложений можно получить дополнительные сведения о пользователе: использование соц. сетей, география.